# DUITKU CONFIGURATION
DUITKU_MERCHANT_CODE=ISI_DENGAN_MERCHANT_CODE_MEREKA
DUITKU_API_KEY=ISI_DENGAN_API_KEY_MEREKA
DUITKU_ENV=sandbox # Gunakan 'production' jika PWA dan payment sudah siap LIVE
DUITKU_CALLBACK_URL=https://api.quacxel.my.id/api/payments/webhook
DUITKU_RETURN_URL=https://quacxel.my.id/order/

# --- DARI SINI KE BAWAH ADALAH FILE LAMA (JANGAN DIHAPUS) ---
# Config Database Docker
DB_USER=postgres
DB_PASSWORD=widi123
DB_NAME=MejaPesan
DB_PORT=5432

PORT=3000

# Endpoint Frontend Lu (Buat Keamanan CORS)
# Ubah ini jadi https://quacxel.my.id pas udah deploy PWA lu nanti!
FRONTEND_URL=http://192.168.1.18:3000

# Google OAuth Web Client ID
GOOGLE_WEB_CLIENT_ID=526373562764-kfrduc1arsle2i491kj2idp3pf78ii9e.apps.googleusercontent.com

# jwt 
JWT_SECRET="rahasia_negara_api"

# Telegram Notification
TELEGRAM_BOT_TOKEN=8466279372:AAF-TJ81HAnT1kjbav9jd7aRTHow5l1Swgg
TELEGRAM_CHAT_ID=5634010984

WITHDRAWAL_SECRET_KEY=rahasia_super_aman_2026

# database 
DATABASE_URL="postgresql://postgres.lrnpzvgskahtlbghsamz:BWPS01oJGF2NfIrz@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=5&pool_timeout=10"
DIRECT_URL="postgresql://postgres.lrnpzvgskahtlbghsamz:BWPS01oJGF2NfIrz@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

#pwa akses
FRONTEND_URL="http://10.214.241.194:3001"

SUPABASE_URL=https://lrnpzvgskahtlbghsamz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxybnB6dmdza2FodGxiZ2hzYW16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTcyMDAzNSwiZXhwIjoyMDg3Mjk2MDM1fQ.4FO0bK1gyfoc68cPEMO3Tkku57v2wCdAVvGVdRHEUoE
